.form-container {
text-align: center;
align-items: center;
  width: 100%;
}

.form {
  background-color: rgb(255, 255, 255, 0.7);
  padding: 10px;
  width: 95%;

}

.input--form {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  width: 100%;
 align-items: center;
}

.form--submit {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  background-color: blueviolet;
  color: white;
  border: none;
  margin: 20px 0;
}

.form--submit:hover {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  background-color: rgb(98, 23, 168);
  cursor: pointer;
  color: white;
  border: none;
  margin: 20px 0;
}

.form-items {
 display: flex;
 justify-content: center;
 color: blueviolet;
}

@media all and (max-width: 480px) {
  .form-container {
    flex-direction: column;
    flex-basis: 0;
  }
}