@media only screen and (max-width: 1000px) {
        body {
        background-color: lightblue;
    }
}


@media only screen and (max-width: 450px) {
    body { 
        background-color: red;
    }
}


@media only screen and (max-width: 350px) {
    body {
        background-color: green;
    }
}

.myForm {
    box-sizing: border-box;
}

input[type=text] {
    padding: 5px;
    margin: 5px;
    border-bottom: 1px solid black;
    border-radius: 5px;
    display: block;
    margin-top: 5px;
}

input[type=number] {
    padding: 5px;
    margin: 5px;
    border-bottom: 1px solid black;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

label[type=radio] {
    display: block;
}