h1 {
    text-align: center;
}

#btn {
    text-align: center;
    margin: auto;
    display: flex;
    margin-bottom: 10px;
}

p {
    text-align: center;
}

#display {
    text-align:center;
}

body {
    text-align: center;
}

#refresh {
    margin-top: 10px;
}