* {
    box-sizing: border-box;
    font-size: 0px;
    height: 50px;
    border: 5px solid white;
    
}
   


#div1 {
    /* font-size: 22px; */
    background-color: #F5C6D6;
    text-align: center;
    width: 100%;
    height: 100px;
    
}

#div2 {
    /* font-size: 22px; */
    background-color: #EE2E84;
    text-align: center;
    width: 25%;
    display: inline-block;
    height: 100px;
}

#div3 {
    /* font-size: 22px; */
    background-color:#EE2E84;
    text-align: center;
    width: 25%;
     display: inline-block;
     height: 100px;
}

#div4 {
    /* font-size: 22px; */
    background-color:#EE2E84;
    text-align: center;
    width: 25%;
     display: inline-block;
     height: 100px;
}

#div5 {
    /* font-size: 22px; */
    background-color:#EE2E84;
    text-align: center;
    width: 25%;
     display: inline-block;
     height: 100px;
}

#div6 {
    background-color: #85CFD8;
    text-align: center;
    width: 50%;
    display: inline-block;
    height: 100px;
}

#div7 {
    background-color: #85CFD8;
    text-align: center;
    width: 50%;
    display: inline-block;
    height: 100px;
}

#div8 {
    background-color: #8DC63F;
    text-align: center;
    height: 100px;
    width: 75%;
    display: inline-block;
}

#div9 {
    background-color: #E76E34;
    text-align: center;
    display: inline-block;
    height: 100px;
    width: 25%;
}

/* large screens */
@media only screen and (min-width: 768px) {
    #div1 {
    /* font-size: 22px; */
    background-color: #F5C6D6;
    text-align: center;
    width: 100%;
    height: 100px;
    
}

#div2 {
    /* font-size: 22px; */
    background-color: #EE2E84;
    text-align: center;
    width: 25%;
    display: inline-block;
    height: 100px;
}

#div3 {
    /* font-size: 22px; */
    background-color:#EE2E84;
    text-align: center;
    width: 25%;
     display: inline-block;
     height: 100px;
}

#div4 {
    /* font-size: 22px; */
    background-color:#EE2E84;
    text-align: center;
    width: 25%;
     display: inline-block;
     height: 100px;
}

#div5 {
    /* font-size: 22px; */
    background-color:#EE2E84;
    text-align: center;
    width: 25%;
     display: inline-block;
     height: 100px;
}

#div6 {
    background-color: #85CFD8;
    text-align: center;
    width: 50%;
    display: inline-block;
    height: 100px;
}

#div7 {
    background-color: #85CFD8;
    text-align: center;
    width: 50%;
    display: inline-block;
    height: 100px;
}

#div8 {
    background-color: #8DC63F;
    text-align: center;
    height: 100px;
    width: 75%;
    display: inline-block;
}

#div9 {
    background-color: #E76E34;
    text-align: center;
    display: inline-block;
    height: 100px;
    width: 25%;
}


}

/* Smaller screens*/
@media only screen and (max-width: 700px) {
    
    
    #div1 {
    /* font-size: 22px; */
    background-color: #F5C6D6;
    text-align: center;
    width: 100%;
    height: 100px;
    
}

#div2 {
    /* font-size: 22px; */
    background-color: #EE2E84;
    text-align: center;
    width: 100%;
    /* display: inline-block; */
    height: 100px;
}

#div3 {
    /* font-size: 22px; */
    background-color:#EE2E84;
    text-align: center;
    width: 100%;
     /* display: inline-block; */
     height: 100px;
}

#div4 {
    /* font-size: 22px; */
    background-color:#EE2E84;
    text-align: center;
    width: 100%;
     /* display: inline-block; */
     height: 100px;
}

#div5 {
    /* font-size: 22px; */
    background-color:#EE2E84;
    text-align: center;
    width: 100%;
     /* display: inline-block; */
     height: 100px;
}

#div6 {
    background-color: #85CFD8;
    text-align: center;
    width: 100%;
    /* display: inline-block; */
    height: 100px;
}

#div7 {
    background-color: #85CFD8;
    text-align: center;
    width: 100%;
    /* display: inline-block; */
    height: 100px;
}

#div8 {
    background-color: #8DC63F;
    text-align: center;
    height: 100px;
    width: 100%;
    /* display: inline-block; */
}

#div9 {
    background-color: #E76E34;
    text-align: center;
    /* display: inline-block; */
    height: 100px;
    width: 100%;
}


}
